<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <%- include('partials/header.ejs') %>
 
    <title>About</title>
  </head>
  <body>
      <%- include('partials/nav.ejs', {page: 'about', user}) %>
 
    <h1>About</h1>
    
    <div class="banner">
      
      <a href="">
        <img src="https://visitnepalnews.gov.np/wp-content/uploads/2019/10/Logo_VisitNepal2020-810x648.jpg" alt="" />
      </a>
   
      <a href="">
        <img src="" alt="" />
      </a>
      <div class = social-media>
      
    </div>
     <!--Navebar -->
    <ul class="menu">
    
      <!-- Top level menu item -->
      <li>
        
        <a href="http://localhost:5000/">Home</a> 
       
      </li>
      <li>
        <!-- Top level menu item text -->
        <span>Services</span>
          <!-- 2nd level menu -->

      </li>
      <li>
        <a href="http://localhost:5000/b/about">About</a> 
      </li>
      <li>
        <a href="http://localhost:5000/b/contact">Contact</a> 
        </ul>  
      </li>
    </ul>
      
    <!-- Writing-->
    <h1>About Us!</h1>
    <div class = "words">
    <h2>Create and Maintain a healthy diet with us.
    </h2>
      <li>My Store, also known as top product seller, has been creating and maintaining fine dining for over 30 years. We pride ourselves on having a mix between positive customer relations & a high level of design skill. Owners of BibekG Mystore, created this company in 1985 in Kathmandu, Nepal. Our office is now located in Oklahoma City Oklahoma, after a successful start to the company and the need for a bigger workspace. We are determined to work with our customers in order to ensure they achieve the upmost satisfaction at an affordable price. We are ICPI certified, a licensed food applicator business, and fully insured!</li>  
      </div>
      
      <h1>Testimonials</h1>
    
    
    <!-- load jQuery JavaScript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-- load fotorama plugin JavaScript code -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script>
  
    
  
    
      <span class="copyright">Copyright © 2020, BibekG My Store.</span>
    </div>
        <%- include('partials/scripts.ejs') %>
     </body>
 
</html>
 

